
section{
    #fold2-content{
    @include background-cover;
    background-image: url('../images/bg_motor.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    position:relative;
        &:before{
            @include bg-overlay;
            background:$white;
            opacity:0.6;
        }
        & > *{
            @include content-z-index-overlay;
          }
    }
    .jumbotron{
        border-radius: 0;
        background-color: $black-bg;
    }
    ul.custom-ul{
        width:100%;
        margin: auto;
        li{
            line-height: 1.75;
        }
    }
    p, li{
        color: $gray-900;
    }
    .mv{
        p, h2{
            color: $white;   
        }
    } 
}    
 
@media (min-width:992px){
    section{
        ul.custom-ul,
        .mv p{
            padding:0 25%;
        }
    }
     
}
 